/* Variables */
:root {
    /* Colors */
    /* Base colors */
    --c1: #121E1A;
    --c2: #305045;
    --c3: #284239;

    --colorBg: var(--c1);
    --colorText: white;

    /* Numbers */
    --contentBottomHeight: 150px;
}


/* General */
* {
    color: var(--colorText);
    font-family: sans-serif, arial;
}

body {
    background: var(--colorBg);
    display: flex;
    flex-flow: column;
    margin: 0;
    height: 100vh;
    height: 100dvh;
}

button {
    cursor: pointer;
}


/* License */
.license {
    align-self: center;
    background: turquoise;
    margin: 0;
    opacity: 0.5;
    position: fixed;
    text-align: center;
    top: 1%;
    transition: opacity ease 0.3s;
    z-index: 4;
}


.license:hover {
    opacity: 1;
}

/* Help button */
.helpBtn {
    align-items: center;
    aspect-ratio: 1/1;
    background: skyblue;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0;
    position: fixed;
    right: 0;
    width: 50px;
    z-index: 3;
}

.helpBtn > img {
    background: purple;
    height: 60%;
    object-fit: contain;
    width: 60%;
}


/* Top content div */
.contentTop {
    align-items: center;
    background: orange;
    display: flex;
    height: calc(100% - var(--contentBottomHeight));
    justify-content: center;
}

/* Bottom content div */
.contentBottom {
    background: green;
    display: flex;
    flex-flow: row;
    height: var(--contentBottomHeight);
}

.contentBottom > button {
    align-items: center;
    background: violet;
    border: none;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
    width: 10%;
}

.contentBottom > button > img {
    background: slateblue;
    height: 80%;
    object-fit: contain;
    width: 80%;
}

.contentBottom > .main {
    background: yellow;
    display: flex;
    flex-flow: column;
    width: 90%;
}

.contentBottom > .main > div {
    background: white;
    display: flex;
    height: 50%;
}

.contentBottom > .main > div:first-child {
    background: red;
    flex-flow: row;
}

.contentBottom > .main > div:first-child > div:not(.contentActions) {
    align-items: center;
    background: linear-gradient(90deg, cadetblue, #94fbff);
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 20%;
}

.contentBottom > .main > div:first-child > div:not(.contentActions) > button {
    background: linear-gradient(90deg, brown, yellow);
    border: none;
    height: 100%;
    padding: 0;
    width: 50%;
}

.contentBottom > .main > div:first-child > div:not(.contentActions) > button > img {
    background: black;
    height: 70%;
    object-fit: contain;
    width: 70%;
}

.contentBottom > .main > div:first-child > div:not(.contentActions) > p {
    background: orangered;
    height: fit-content;
    margin: 0;
    overflow-x: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

.contentBottom > .main > div:first-child > .contentActions {
    align-items: center;
    background: linear-gradient(90deg, purple, #ff87ff);
    display: flex;
    flex-flow: row;
    gap: 10px;
    justify-content: center;
    transform: translateY(calc(var(--contentBottomHeight) * -0.25));
    opacity: 0.5;
    width: 80%;
}

.contentBottom > .main > div:first-child > .contentActions > button {
    aspect-ratio: 1/1;
    background: red;
    border: none;
    border-radius: 100%;
    height: 70%;
    padding: 0;
}

.contentBottom > .main > div:first-child > .contentActions > button > img {
    aspect-ratio: inherit;
    background: plum;
    height: 65%;
}

.contentBottom > .main > div:first-child > .contentActions > .main {
    background: blue;
    height: 100%;
}

.contentBottom > .main > div:last-child {
    flex-flow: column;
}

.contentBottom > .main > div:last-child > div:first-child {
    background: lightcoral;
    height: 50%;
}

.contentBottom > .main > div:last-child > div:first-child {
    align-items: center;
    background: lightcoral;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 0 10%;
}

.contentBottom > .main > div:last-child > div:first-child > div {
    background: aquamarine;
    border-radius: 100vh;
    cursor: pointer;
    height: 20%;
    width: 100%;
}

.contentBottom > .main > div:last-child > div:first-child > div > div {
    aspect-ratio: 1/1;
    background: yellow;
    height: 100%;
}

.contentBottom > .main > div:last-child > div:first-child > div > div > div {
    background: royalblue;
    border-radius: 100%;
    height: 100%;
    opacity: 0.5;
    transform: scale(2);
    width: 100%;
}

.contentBottom > .main > div:last-child > div:first-child > div > div > div:hover {
    background: red;
}

.contentBottom > .main > div:last-child > div:last-child {
    background: wheat;
    display: flex;
    flex-flow: row;
    height: 50%;
    padding: 0 10%;
}

.contentBottom > .main > div:last-child > div:last-child > div {
    background: maroon;
    height: fit-content;
    overflow: hidden;
    text-align: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

.contentBottom > .main > div:last-child > div:last-child > div > p {
    background: slateblue;
    margin: 0;
}

.contentBottom > .main > div:last-child > div:last-child > p {
    background: magenta;
    height: fit-content;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}


/* Title div */
.titleDiv {
    background: tomato;
    max-height: 60%;
    width: 80%;
}

.titleDiv > div {
    align-items: center;
    background: lime;
    display: flex;
    flex-flow: column;
}

.titleDiv > div > h1 {
    background: slategray;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.titleDiv > div > h1 > span {
    background: magenta;
    font-size: 0.75em;
    opacity: 0.75;
}

.titleDiv > div > img {
    aspect-ratio: 1/1;
    background: blue;
    width: 200px;
}

.titleDiv > p {
    background: crimson;
    font-style: italic;
    margin: 0;
    opacity: 0.5;
    text-align: center;
}