/* Variables */
:root {
    /* Colors */
    --colorBg: #1A1A1A;
    --colorText: white;

    /* Numbers */
    --contentBottomHeight: 150px;
}


/* General */
* {
    color: var(--colorText);
    font-family: sans-serif, arial;
}

body {
    background: var(--colorBg);
    display: flex;
    flex-flow: column;
    margin: 0;
    height: 100vh;
}

button {
    cursor: pointer;
}


/* Content divs */
.contentBottom {
    background: green;
    display: flex;
    flex-flow: row;
    height: var(--contentBottomHeight);
}

.contentBottom > .main {
    background: yellow;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.contentBottom > .main > div {
    background: white;
    display: flex;
    height: 50%;
}

.contentBottom > .main > div:first-child {
    background: red;
    flex-flow: row;
}

.contentBottom > .main > div:first-child > div {
    background: linear-gradient(90deg, cadetblue, #94fbff);
    width: 20%;
}

.contentBottom > .main > div:first-child > .contentActions {
    align-items: center;
    background: linear-gradient(90deg, purple, #ff87ff);
    display: flex;
    flex-flow: row;
    gap: 10px;
    justify-content: center;
    transform: translateY(calc(var(--contentBottomHeight) * -0.25));
    width: 80%;
}

.contentBottom > .main > div:first-child > .contentActions > button {
    aspect-ratio: 1/1;
    background: red;
    border: none;
    border-radius: 100%;
    height: 70%;
    padding: 0;
}

.contentBottom > .main > div:first-child > .contentActions > button > img {
    aspect-ratio: inherit;
    background: plum;
    height: 65%;
}

.contentBottom > .main > div:first-child > .contentActions > .main {
    background: blue;
    height: 100%;
}

.contentBottom > button {
    aspect-ratio: 1/1;
    background: violet;
    border: none;
    height: 100%;
    padding: 0;
}

.contentBottom > button > img {
    aspect-ratio: inherit;
    background: slateblue;
    height: 75%;
}

.contentTop {
    background: orange;
    height: calc(100% - var(--contentBottomHeight));
}